body {
  background: radial-gradient(circle at 100%, #ffb0d7, #aab0e9, #edcbec);
  /* background-image: radial-gradient(
    farthest-corner at 40px 40px,
    #e664a5 0%,
    #9198e5 100%
  ); */
  height: 700vh;
  position: relative;
  overflow-x: hidden;
}

@font-face {
  font-family: 'Mackinac';
  src: local('Mackinac'), url(../public/fonts/Fontspring-DEMO-P22Mackinac-Bold.otf) format('opentype');
}

@font-face {
  font-family: 'National';
  src: local('National'), url(../public/fonts/NationalPark-VariableFont_wght.ttf) format('opentype');
}

@font-face {
  font-family: 'Cursive';
  src: local('Cursive'), url(../public/fonts/CedarvilleCursive-Regular.ttf) format('opentype');
}

@font-face {
  font-family: 'Inknut';
  src: local('Inknut'), url(../public/fonts/InknutAntiqua-Regular.ttf) format('opentype');
}

@font-face {
  font-family: 'Inknut-bold';
  src: local('Inknut-bold'), url(../public/fonts/InknutAntiqua-Bold.ttf) format('opentype');
}

#p1 {
  height: 100vh;
  display: flex;
  justify-content: center; 
  align-items: center; 
}

.cloud {
  position: absolute;
  animation: move1 55s linear infinite;
}

@keyframes move1 {
  0% { transform: translateX(0); }
  100% { transform: translateX(125vw); }
}

.c1 {
  width: 400px;
  right: 100vw;
  animation-delay: -30s;
  top: 0px;
}

.c2 {
  width: 400px;
  right: 100vw;
  top: -0.1vh;
}

.c3 {
  width: 400px;
  right: 100vw;
  top: 50vh;
  animation-delay: -20s;
}

.c4 {
  width: 400px;
  right: 100vw;
  animation-delay: -15s;
  top: 15vh;
}

.c5 {
  width: 400px;
  right: 100vw;
  top: 43vh;
  animation-delay: -40s;
}

.c6 {
  width: 400px;
  right: 100vw;
  top: 60vh;
  animation-delay: -5s;
}

.c7 {
  width: 400px;
  right: 100vw;
  top: 70vh;
  animation-delay: -20s;
}

#title {
  font-family: 'Inknut';
  font-size: 80px;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  height: 150px;
}

#subtitle {
  font-family: 'Cursive';
  font-size: 23px;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
}

#title-container {
  margin-bottom: 100px;
}

#p2 {
  height: 100vh;
  top: 100vh;
  display: flex;
  justify-content: center; 
  align-items: center; 
}

.p-container {
  height: 500px;
  width: 1500px;
  margin-bottom: 150px;
}

#p-title-container {
  display: flex;
  justify-content: center; 
  align-items: center; 
}

#page-title {
  font-family: 'Inknut';
  font-size: 50px;
  top: 30px;
  margin-left: 30px;
  margin-bottom: 0px;
  margin-top: 0px;
  width: 80vw;
}

@keyframes increase {
  from {
    width: 0;
  }
  to {
      width: 57vw;
  }
}

#page-title.visible::after {
  background-color: #000;
  content: "";
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  margin-left: 40px;
  animation: increase 2.5s; 
  animation-fill-mode: forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#about-img-container {
  display: flex;
  justify-content: center; 
  align-items: center; 
}

#about-container {
  width: 750px;
  float: left;
}

.about-item {
  font-family: 'Inknut';
  font-size: 18px;
  transition: 0.3s;
}

.about-item:hover {
  margin-left: 20px
}

.fade {
  opacity: 0;
}

.fade.visible {
  animation: fadeIn 1.5s ease-out forwards;
}

#about1 {
  animation-delay: 0.5s;
}

#about2 {
  animation-delay: 1s;
}

#about3 {
  animation-delay: 1.5s;
}

#about4 {
  animation-delay: 2s;
}

#img-container {
  position: relative;
  text-align: center;
  transition: 0.3s;
}

.img-text {
  font-family: 'Inknut';
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

#about-img {
  width: 300px;
  height: auto;
  transition: 0.3s;
  box-shadow: 5px 5px 5px #585858;
}

#about-img:hover {
  opacity: 70%;
}

#img-container:hover .img-text {
  opacity: 1;
  visibility: visible;
}

#p3 {
  height: 100vh;
  top: 200vh;
  display: flex;
  justify-content: center; 
  align-items: center; 
}

#p4 {
  height: 100vh;
  top: 300vh;
  display: flex;
  justify-content: center; 
  align-items: center; 
}

#p5 {
  height: 100vh;
  top: 400vh;
  display: flex;
  justify-content: center; 
  align-items: center; 
}

#p6 {
  height: 100vh;
  top: 500vh;
  display: flex;
  justify-content: center; 
  align-items: center; 
}

#resume-img {
  height: 450px;
  box-shadow: 5px 5px 5px #585858;
  margin-right: 100px
}

.resume-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.download {
  position: relative;
  background-color: #a11f81;
  border-radius: 50px;
  text-align: center;
  vertical-align: middle;
  line-height: 30px; 
  font-family: 'Inknut';
  font-size: 16px;
  color: white;
  padding: 3px 10px 3px 10px;
  border-width: 2px;
  transition-duration: 0.4s;
  border-color: #a11f81;
}

.download:hover {
  background-color: transparent;
  color: #a11f81;
  border-color: #a11f81;
  border-width: 2px;
}

#p7 {
  height: 100vh;
  top: 600vh;
  display: flex;
  justify-content: center; 
  align-items: center; 
}

.thanks {
  font-family: 'Inknut-bold';
  font-size: 25px;
  color: #a11f81;
  margin-top: 30px;;
  margin-bottom: 0;
  line-height: 1.5;
}

.contact-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 50px;
}

.questions {
  font-family: 'Cursive';
  font-size: 25px;
  color: black;
  line-height: 1;
  margin-top: 0;
  margin-bottom: 30px;
}